/* *{ border: 1px solid red;
    width:600px;
    height: 700px;
    margin: 15px auto;

} */

#main-container{
    display: grid; 
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr ;
    gap: 5px;
    height: 100%;
   
}

.left-container{
    background-color: #9A75BE; 
    grid-row-start: 1;
    grid-column-start: 1;
    grid-row-end: 4;
    grid-column-end: 2;
    

}
.left-items{
  background-color: black;
}

.top-item-1{
    background-color: #D95BBB; 
    grid-row-start: 1;
    grid-column-start: 2;
    grid-row-end: 2;
    grid-column-end: 3;
}
.top-item-2{
    background-color: #D665DC; 
    grid-row-start: 1;
    grid-column-start: 3;
    grid-row-end: 2;
    grid-column-end: 4;
}

.top-item-3{
    background-color: #FCB896; 
    grid-row-start: 1;
    grid-column-start: 4;
    grid-row-end: 2;
    grid-column-end: 5;
}

.bottom-container{
    background-color: #995B57; 
    grid-row-start: 2;
    grid-column-start: 2;
    grid-row-end: 4;
    grid-column-end: 5;
}

.bottom-items{
    /* width: 480px;
    height:90px;
    margin: 0 auto;
    padding:10px;
    position: relative;
    background-color: red; */



}